@charset "utf-8";
/**
 * Product Structure CSS Document
 * Created by Francis on 2017/06/05.
 */
.item { padding:1.2rem; background-color:#fff; }
.item h1.title { display:inline-block; margin-left:-1.2rem;margin-bottom:1.2rem; padding:.5rem 1.2rem; font-weight:normal; font-size:1.6rem; background-color:#22cd78; color:#fff;border-top-right-radius:1.5rem;border-bottom-right-radius:1.5rem; }

.item ul.item-details li { float:left;width:100%; color:#1e1e1e; font-size:1.5rem;}
.item ul.item-details>li { }
.item ul.item-details>li strong { display:inline-block; float:left; margin-top:-1px; margin-right:0.4rem; font-weight:normal; -webkit-text-size-adjust:none !important; height:1.4rem; line-height:1.4rem; vertical-align:middle; }
.item ul.item-details li .item-detail { display:inline-block; float:left; width:calc(100% - 6rem); text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#000; height:1.5rem; line-height:1.5rem; vertical-align:middle; }
.item ul.item-details li .item-detail.bdb{ display:inline-block;padding:1.6rem 0;width:100%; height:auto; border-bottom:1px solid #e7e7e7;}
.item ul.item-details li .item-detail.bdb i{ display: inline-block;height: 10px;color:#666;}
.item ul.item-details li .children{ margin-left:5%;}
.item ul.item-details li .children li{ padding:1.6rem 0;border-bottom:1px solid #e7e7e7; }

.item .icons-list { margin:-.3rem 0; width:6rem; overflow:hidden;}
.item .icons-list .icons { display:inline-block; position:relative; float:left; margin-left:.5rem; width:2.2rem; height:2.2rem; background-position:50%; background-color:#6fd188; border-radius:0.5rem; background-repeat:no-repeat; }
.item .icons-list .icons.icons1 { background-image:url(../images/ps-icon1.png); background-position:1.0rem 0.4rem; -webkit-background-size:.8rem; background-size:.8rem;}
.item .icons-list .icons.icons2 { background-image:url(../images/ps-icon2.png); -webkit-background-size:1.4rem; background-size:1.4rem;}

.item ul.item-details li.grey{pointer-events: none;cursor:  not-allowed !important;}
/*.item ul.item-details li.grey .item-detail { color:#999; }*/
.item ul.item-details li.grey .icons-list .icons { background-color:#b0b6b4; }
